body {
  background: black !important;
  color: rgba(255, 255, 255, 0.9215686275);
}

.home {
  background-color: transparent;
  width: 90%;
  margin: auto;
}

.navbar {
  background-color: transparent !important;
  padding: 30px 7% !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 9999 !important;
  /* Adjust the z-index as needed, it should be higher than other elements on the page */
  /* Add other styles as needed */
}
.navbar a {
  color: white;
}
.navbar a:hover {
  background-color: #2c2c2c;
  color: white;
  border-radius: 15px;
}
.navbar button {
  border-radius: 13px;
  border-color: rgba(255, 255, 255, 0.1019607843);
}
.navbar .login-button {
  background-color: rgba(255, 255, 255, 0.0549019608);
}
.navbar .login-button:hover {
  background-color: rgba(255, 255, 255, 0.1019607843);
}

.header {
  width: 100%;
  border: 1px solid rgb(104, 104, 104);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: auto;
  padding-bottom: 150px;
  background: url(../images/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.header .header-content {
  margin-left: 100px;
  width: 40%;
  margin-top: 200px;
  text-align: left;
}
.header .header-content h1 {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.9215686275);
  font-size: 3em;
}
.header .header-content h6 {
  color: rgba(255, 255, 255, 0.5921568627);
}
.header .header-content input {
  margin-top: 20px;
  background-color: #0D0D0D;
  border: 1px solid rgb(104, 104, 104);
  color: rgba(255, 255, 255, 0.5921568627);
}
.header .header-content input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5921568627);
}
.header .header-content input::placeholder {
  color: rgba(255, 255, 255, 0.5921568627);
}

.news {
  margin-bottom: 50px;
}
.news .card {
  text-align: left;
  color: white;
  padding: 30px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.news .card a {
  text-decoration: none;
  color: white;
}
.news .left-card {
  background: url(../images/left-news-card-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.news .right-card {
  background: url(https://zealy.io/_next/static/media/pink.2ba25a53.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.filters button {
  background-color: transparent !important;
  border-radius: 15px;
  border-color: #2c2c2c;
}
.filters .right-filters-container {
  position: relative;
}
.filters .scroll-container {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
  /* Hide the scrollbar in WebKit-based browsers */
}
.filters .scroll-container::-webkit-scrollbar {
  display: none;
}
.filters .scroll-button {
  position: absolute;
  top: -5px;
  background-color: #141414 !important;
  font-size: 24px !important;
  cursor: pointer;
  border-radius: 20px;
  z-index: 1;
}
.filters .left-scroll-button {
  left: 0;
}
.filters .right-scroll-button {
  right: 0;
}

.primary-card {
  width: 500px !important;
  margin-right: 20px;
}
.primary-card .card {
  background-color: transparent;
  color: white;
  width: 500px;
  border: 1px solid rgb(34, 34, 34);
  border-radius: 15px;
  padding: 15px;
}
.primary-card .card .card-text {
  color: rgba(255, 255, 255, 0.5921568627);
  font-weight: 500;
}
.primary-card .card img {
  width: 60px !important;
  border-radius: 15px;
}
.primary-card .card .links-row a {
  text-decoration: none;
  color: white;
  background-color: rgba(255, 255, 255, 0.1019607843);
  padding: 0px 20px;
  border-radius: 15px;
  height: 45px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
}

.new-communities {
  margin-top: 60px;
}
.new-communities h6 {
  color: rgba(255, 255, 255, 0.9215686275);
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
}
.new-communities button {
  background-color: rgba(59, 58, 58, 0.4862745098);
  border-radius: 16px;
  border: none;
}
.new-communities button:hover {
  background-color: rgba(44, 43, 43, 0.0549019608);
  border-radius: 16px;
  border: none;
}
.new-communities .cards-row-container {
  overflow-x: auto;
}
.new-communities .cards-row-container::-webkit-scrollbar {
  display: none;
}
.new-communities .cards-row {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  flex-wrap: nowrap;
}

.community-categories .card {
  background-color: transparent;
  color: white;
  width: 250px;
  margin-right: 20px;
  border: 1px solid rgb(34, 34, 34);
  border-radius: 25px;
  padding: 25px 0;
  background-size: 120% 130%;
  background-position: center;
}

.shape-future .card {
  background-repeat: no-repeat;
  background-size: 120% 120%;
  background-position: center;
  height: -moz-fit-content;
  height: fit-content;
}
.shape-future .card a {
  background-color: rgba(255, 255, 255, 0.0549019608);
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
  display: block;
  width: -moz-max-content;
  width: max-content;
}

.footer h6 {
  color: white;
  margin-bottom: 20px;
}
.footer img {
  margin-bottom: 20px;
}
.footer p {
  color: rgba(255, 255, 255, 0.5921568627);
  width: -moz-fit-content;
  width: fit-content;
}
.footer i {
  width: -moz-fit-content;
  width: fit-content;
  color: rgba(255, 255, 255, 0.5921568627);
}
.footer hr {
  color: rgba(255, 255, 255, 0.5921568627);
}

@media (max-width: 1035px) {
  .second-div {
    display: none;
  }
  .third-div {
    margin-left: auto;
  }
}
@media (max-width: 767px) {
  .navbar {
    padding: 30px 1% !important;
  }
  .third-div {
    padding: 0% !important;
  }
  .third-div .navbar-nav {
    flex-direction: row;
  }
  .third-div .nav-link {
    display: none !important;
  }
  .header {
    width: 98%;
  }
  .header .header-content {
    margin-left: 30px;
    width: 80%;
  }
  .header .header-content h1 {
    font-size: 2em;
  }
}/*# sourceMappingURL=index.css.map */